body {
    background-color: #F5EDED;
}
.Primario {
    background-color: #383e56;
    text-align: center;
}
.Titulo {
    color: #eedad1;
}
.Division {
    background-color: #383e56;;
}
.Sub {
    color: #d4b5b0;
}
.Buttons {
    background-color: rgb(252, 252, 252);
    text-align: center;
}
.w-200 {
    width: 208px;
}
.Colors {
    background-color: #f69e7b;
}
.Info {
    margin: 0 0 0 60px;
    background-color: #d4b5b0;
    width: 353px;
}
.Tablasub {
    text-align: center;
    color: #383e56;
}
.Lista {
    color: #5b866e;
}
.Mas-Info {
    text-align: center;
}
.Center {
    background-color: #383e56;
    color: white;
}
.Derechos {
    text-align: center;
    background-color: #f69e7b;
}


